body {
    height: 550px;
    margin: 0;
    padding: 0;
}
.ad {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 400px;
    height: 0px;
}
.bg {
    width: 400px;
}
.btn {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}