body, div {
    margin: 0;
    padding: 0;
}
.container {
    /*border: 1px solid red;*/
    position: relative;
    width: 600px;
}
.clearFixed::after {
    display: table;
    content: " ";
    clear: both;
}
.left, .left img {
    width: 140px;
}
.right, .right img {
    width: 435px;
}
.left, .right {
    float: left;
}
.right {
    margin: 0 10px;
}
.right img {
    display: none;
}
.right .show {
    display: inline-block;
}
.pointer {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 2px;
}