body {
    margin: 0;
    padding: 0;
}
.topbar {
    height: 32px;
    border: 1px solid silver;
}
.left-menu {
    float: left;
    height: 32px;
    line-height: 32px;
}
.left-menu a {
    display: inline-block;
    text-decoration: none;
    color: black;
    font-size: 5px;
    margin: 0 0.5em;
}
.more-products {
    float: right;
    height: 32px;
    line-height: 32px;
}
.more-products a {
    display: block;
    width: 86px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    margin-left: 19px;
    background-color: #398bfb;
}
.right-menu {
    float: right;
    height: 32px;
    line-height: 32px;
}
.right-menu a {
    display: inline-block;
    color: black;
    font-size: 13px;
    text-align: center;
    text-decoration: none;
    margin-left: 19px;
}
.logo {
    text-align: center;
    margin-top: 100px;
}
.logo img {
    width: 270px;
    height: 129px;
}
.search-form {
    text-align: center;
}
.search-form .search-text {
    display: inline-block;
    position: relative;
    width: 480px;
    height: 38px;
    line-height: 38px;
    padding: 0;
    border: 1px solid silver;
    margin: 0;
    font-size: 16px;
}
.search-form .search-btn {
    display: inline-block;
    position: absolute;
    width: 102px;
    height: 40px;
    line-height: 40px;
    padding: 0;
    border: 0;
    font-size: 16px;
    color: white;
    background-color: #38f;
}